<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sure_predict">

    <!-- INTERNET (OBLIGATORIU pentru API + Ads) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Sure Predict"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 🔥 ADMOB APP ID (AL TĂU) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2800443504046517~2068195174"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
